// -----------------------------------------------------------------------------
// Alerts
// -----------------------------------------------------------------------------

//
// Base styles
//

.alert,
%alert {
  margin-bottom: $spacer*3;
  color: $state-danger-text;
  font-size: $font-size-small;
  text-align: center;
}

// Shopify alert/error overrides
//
// Gives default alert styles to Shopify-returned form errors

.errors {
  @extend %alert;
}
