// -------------------------
// Blowup
// -------------------------

// Kill the scroll on the body
body.blowup-open {
  overflow: hidden;
}

.blowup {
  position: fixed;
  z-index: $z-index-blowup;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  overflow: hidden;
  background-color: $body-bg;
  cursor: pointer;
  pointer-events: none;
  @include transition(opacity 350ms ease-in-out);

  &.is-active {
    opacity: 1;
    pointer-events: auto;
  }
}

.blowup__close,
.blowup__helper-text {
  opacity: 0;
  @include transition(opacity 300ms ease-in-out 0s);

  .blowup.is-active & {
    opacity: 1;
    @include transition-delay(350ms);
  }
}

.blowup__close {
  position: absolute;
  z-index: $z-index-blowup + 1;
  top: 19px;
  right: 21px;

  height: 20px;
  width: 20px;
}

.blowup__scroll {
  @include stretch-within;

  opacity: 0;
  @include transition(opacity 600ms ease-in-out 0ms);

  .is-active & {
    opacity: 1;
    @include transition-delay(350ms);
    @include transition-duration(350ms);
  }  
}

.blowup__image {
  height: 2000px;
  width: auto;
  max-width: none;
}

.blowup__helper-text {
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
  padding: 0 $grid-gutter-width/2;
  text-align: center;
  font-size: $font-size-xsmall;
  pointer-events: none;
}
