// -------------------------
// Modals
// -------------------------

.minimal-input-box {
  position: relative;
}

.minimal-input-box__input {
  @extend .form-control;
  padding: 0 19px 0 0;
  border-width: 0 0 1px 0;
  background-color: transparent;
  height: $minimal-input-height;
}

.minimal-input-box__submit {
  @extend .btn-link;
  position: absolute;
  top: -4px;
  bottom: 0;
  right: 0;
  padding: 0;
  width: 30px;
  text-align: right;
  cursor: pointer;
  transition: transform 200ms ease-out;

  &:focus {
    outline: none;
    transform: translateX(4px);
  }

  svg {
    height: 12px;
    width: 12px;
  }
}