// -------------------------
// Options
// -------------------------

$spacing: 5px;

.option-value-list {
  font-size: $font-size-xsmall;
  margin-left: -#{$spacing};
  margin-right: -#{$spacing};
}

.option-value {
  display: inline-block;
  position: relative;
  margin: 0 $spacing;

  &:after {
    content: '';
    position: absolute;
    left: 1px;
    right: 1px;
    bottom: 0;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color 150ms ease-in-out;
  }

  &.is-disabled {
    cursor: $cursor-disabled;
    // opacity: 0.2;

    &:after {
      border-bottom-color: $color-black;
      bottom: 45%;
    }
  }

  &.is-selected {
    &:after {
      border-bottom-color: $color-black;
    }
  }

  // @TODO - move this stuff to vars?  It's shared between here and the nav links
  transition: opacity $transition-duration-quick ease-in;

  &.is-not-hovered {
    opacity: 0.2;
  }
}