// -------------------------
// Page Layout
// -------------------------

/* If supported, use flexbox to stick the footer to the bottom of the page */
// .flexbox {
//   .layout-wrapper {
//     @include display-flex;
//     @include flex-direction(column);
//     min-height: 100vh;
//   }
//   main#MainContent {
//     @include flex;
//     @include flex-direction(column);
//   }
// }

// .layout-wrapper {

// }

// .layout-main-content {
//   @include flex-direction(column);
// }

.wrap {
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(center);
  min-height: 100vh;

  @media (min-width: $screen-xs-min) {
    margin-left: auto;
    padding-left: $menu-clearance-min;
  }

  @media (min-width: $screen-sm-min) {
    margin-right: auto;
    // Instead of menu clearance, use clearance for the title at the bottom right of the screen
    padding-right: 80px; // $menu-clearance-min;
  }

  @media (min-width: $screen-lg-min) {
    padding-left: $menu-clearance-max;
    padding-right: 100px; // $menu-clearance-max;    
  }

  // Password doesn't have a menu, padding needs to be equal
  .template-password & {
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;
  }
}

// Use this as the only direct child of main#MainContent on pages where you don't want the content flush to the header and footer
// Or use the modifier classes to get flush on top or bottom
.layout-content-wrapper {
  margin-top: $layout-margin-top-mobile;
  margin-bottom: $layout-margin-bottom-mobile;

  @media (min-width: $screen-md-min) {
    margin-top: $layout-margin-top;
    margin-bottom: $layout-margin-bottom;
  }

  // For pages without a lot of content
  // and flex alignment to make the content centered
  &.layout-content-wrapper--even {
    margin-top: $layout-margin-top-mobile;
    margin-bottom: $layout-margin-top-mobile;

    @media (min-width: $screen-md-min) {
      margin-top: $layout-margin-top;
      margin-bottom: $layout-margin-top;
    }
  }

  &.flush-top {
    margin-top: 0;
  }

  &.flush-bottom {
    margin-bottom: 0;
  }
}
