// -------------------------
// AJAX Cart
// -------------------------

body.ajax-cart-open {
  overflow: hidden;
}

.ajax-cart-container {
  position: fixed;
  z-index: $z-index-ajax-cart;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  // background: $ajax-cart-bg;
  // border: 1px solid $ajax-cart-border-color;
  pointer-events: none;
  overflow: hidden;

  &:before {
    content: '';
    @include stretch-within;
    z-index: -1;
    right: -100%;
    bottom: -100%;
    background: radial-gradient(ellipse at top left, rgba(255,255,255,1) 50%,rgba(255,255,255,0.07) 86%);
    opacity: 0;
    transform: translate(-100%, -100%);
    transition: opacity 700ms cubic-bezier(0.19, 0.04, 0.43, 0.96) 150ms,transform 800ms cubic-bezier(0.84, 0.01, 0.65, 0.99);
    transform-origin: top left;
  }  

  @media (min-width: $screen-sm-min) {
    max-width: 380px;
  }

  @media (min-width: $screen-lg-min) {
    max-width: 450px;
  }    

  &.is-open {
    pointer-events: auto;

    &:before {
      transform: translate(0, 0);
      opacity: 1;
      transition: opacity 500ms cubic-bezier(0.2, 0, 0, 1), transform 700ms cubic-bezier(0.2, 0, 0, 1) 0ms;
    }    
  }

  // Ajax cart shield
  &:after {
    content: '';
    @include stretch-within;
    background: transparentize($ajax-cart-bg, 0.5);
    opacity: 0;
    pointer-events: none;
    @include transition(opacity $transition-duration-base $transition-timing-function-base);   
  }

  &.request-in-progress:after {
    opacity: 1;
    pointer-events: auto;
    cursor: $cursor-disabled;
  }    

  // Ensure that the cart is full width on screen sizes below this
  // @media (min-width: $screen-xs-min) {
  //   max-width: $ajax-cart-width;
  // }
}

.ajax-cart {
  @include stretch-within;  
  overflow: hidden;

  @media (min-width: $screen-sm-min) {
    border-left: 1px solid $color-off-white;
  }

  opacity: 0;
  transform: translateY(-5px);
  transition-property: opacity, transform;
  transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.2, 0, 0, 1);  

  .ajax-cart-container.is-open & {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 80ms, 80ms;
  }
}

.ajax-cart__inner {
  @include stretch-within;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.ajax-cart__body {
  min-height: 100%;
  @include display-flex;
  @include align-items(center);
  @include flex-direction(column);
  padding: 100px $grid-gutter-width/2 60px;

  form {
    width: 100%;
  }
}

.ajax-cart__close {
  position: absolute;
  z-index: 1;
  top: 22px;
  right: 18px;

  @media (min-width: $screen-xs-min) {
    top: $grid-gutter-width/2;
    right: $grid-gutter-width/2;
  }  
}

.ajax-cart__empty-message {
  margin: $ajax-cart-padding-vertical*2 0;
  text-align: center;
}

.ajax-cart__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ajax-cart__item {
  @include clearfix;
  margin-bottom: 40px;
  font-size: $font-size-small;

  &.is-being-removed {
    opacity: 0;
    @include transition(opacity $transition-duration-base $transition-timing-function-in);
  }

  &.ajax-cart__item--unavailable {
    .ajax-cart__item-title,
    .ajax-cart__item-options li,
    .ajax-cart__item-price {
      text-decoration: line-through;  
    }
    .ajax-cart__item-image {
      opacity: 0.25;
    }
  }   
}

.ajax-cart__item-image {
  width: 110px;
  height: auto;
  float: left;
}

.ajax-cart__item-info {
  padding-left: 110px + 30px; // Make room for the image floated left
}

.ajax-cart__item-header {
  margin-bottom: 6px;
}

.ajax-cart__item-price {
  float: right;
  padding-left: 10px;
}

.ajax-cart__item-title {
  margin-bottom: 10px;
  font-weight: $font-weight-bold;
}

.ajax-cart__item-options {
  @include list-unstyled;
  font-size: $font-size-xsmall;

  li:not(:last-child) {
    margin-bottom: 3px;
  }
}

.ajax-cart__item-qty {

}

.ajax-cart__item-remove {

}

.ajax-cart__footer {

}

.ajax-cart__footer-row {
  padding-top: $ajax-cart-padding-vertical / 2;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.ajax-cart-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-ajax-cart-backdrop;
  background-color: $ajax-cart-backdrop-color;
  opacity: 0;
  cursor: none; // see below
  pointer-events: none;
  @include transition(all $transition-duration-slide $transition-timing-function-slide-out);

  &.is-visible {
    opacity: $ajax-cart-backdrop-opacity;
    pointer-events: auto;
    @include transition(all $transition-duration-slide $transition-timing-function-slide-in);
  }
}

.ajax-cart-backdrop-cursor {
  position: absolute;
  top: 0;
  left: 0;
  height: 48px;
  width: 48px;
  transition: transform 20ms ease;

  &:before {
    content: '';
    @include stretch-within;
    background: {
      image: url({{ 'cursor-close.png' | asset_url }});
      size: cover;
    }
    transform: translate(-24px, -24px);
    opacity: 0;
    transition: opacity 200ms ease-in;
  }

  &.is-visible:before {
    opacity: 1;
  }
}
