// -------------------------
// Nav
// -------------------------

nav.main-nav {
  position: fixed;
  z-index: $z-index-nav;
  top: $grid-gutter-width/2;
  left: $grid-gutter-width/2;
  @include backface-visibility(hidden);
  margin-top: 48px; // Logo height + $grid-gutter-width/2

  @media (max-width: $screen-xs-min - 1px) {
    display: none;
  }

  ul {
    @include list-unstyled;
    margin: 0;
    padding: 0;
  }

  ul.main-menu {
    font-size: $font-size-small;

    > li {
      position: relative;
      margin: 0;
      transform: translateX(-6px);
      opacity: 0;
      transition: transform 450ms cubic-bezier(0.33, 0.01, 0.28, 1), opacity 700ms cubic-bezier(0.33, 0.01, 0.49, 1.02);
    }

    $base-transition-delay: 500ms;

    body.is-loaded & > li {
      opacity: 1;
      transform: translateX(0px);
      transition-delay: $base-transition-delay;

      // Transitions + delays get longer with each element
      &:nth-child(2) { transition-delay: ($base-transition-delay + 120ms);  transition-duration: 500ms, 750ms; }
      &:nth-child(3) { transition-delay: ($base-transition-delay + 240ms);  transition-duration: 550ms, 775ms; }
      &:nth-child(4) { transition-delay: ($base-transition-delay + 400ms);  transition-duration: 600ms, 800ms; }
      &:nth-child(5) { transition-delay: ($base-transition-delay + 600ms);  transition-duration: 650ms, 825ms; }
      &:nth-child(6) { transition-delay: ($base-transition-delay + 850ms);  transition-duration: 700ms, 850ms; }    
      &:nth-child(7) { transition-delay: ($base-transition-delay + 1150ms); transition-duration: 750ms, 875ms; }    
      &:nth-child(8) { transition-delay: ($base-transition-delay + 1400ms); transition-duration: 800ms, 900ms; }       
    }

    > li > a {
      display: block;
      padding-bottom: 5px;
      @include transition(opacity 200ms ease-in); // @TODO - move this stuff to vars?  It's shared between here and option values

      &.is-active {
        font-weight: bold;
      }

      // &.is-hovered {
      //   opacity: 1;
      // }

      &.is-not-hovered {
        opacity: 0.2;
        @include transition(opacity 100ms ease-in);
      }
    }
  }

  // Submenus
  ul.main-submenu {
    position: absolute;
    top: 2px;
    left: 100%;
    width: 200px;
    padding-left: 20px;
    font-size: $font-size-xsmall;
    pointer-events: none;

    li {
      opacity: 0;
      transform: translateX(-6px);
      transition: transform 300ms cubic-bezier(0.33, 0.01, 0.28, 1), opacity 350ms cubic-bezier(0.33, 0.01, 0.49, 1.02);
    }

    &.is-active {
      pointer-events: auto;

      li {
        opacity: 1;
        transform: translateX(0px);

        $base-transition-delay: 0ms;
        transition-delay: $base-transition-delay;

        // Transitions + delays get longer with each element
        &:nth-child(2) { transition-delay: ($base-transition-delay + 60ms); transition-duration: 300ms, 650ms; }
        &:nth-child(3) { transition-delay: ($base-transition-delay + 120ms); transition-duration: 350ms, 675ms; }
        &:nth-child(4) { transition-delay: ($base-transition-delay + 220ms); transition-duration: 500ms, 700ms; }
        &:nth-child(5) { transition-delay: ($base-transition-delay + 340ms); transition-duration: 550ms, 725ms; }
        &:nth-child(6) { transition-delay: ($base-transition-delay + 500ms); transition-duration: 600ms, 750ms; }             
      }
    }
  }
}