// -------------------------
// Nav
// -------------------------

nav.main-nav {
  position: fixed;
  z-index: $z-index-nav;
  top: 20px; // $grid-gutter-width/2;
  left: $grid-gutter-width/2;
  @include backface-visibility(hidden);
  margin-top: 48px; // Logo height + $grid-gutter-width/2

  @media (max-width: $screen-xs-min - 1px) {
    display: none;
  }

  ul {
    @include list-unstyled;
    margin: 0;
    padding: 0;
  }

  ul.main-menu {
    font-size: $font-size-small;

    > li {
      position: relative;
      margin: 0;
      transform: translateX(-6px);
      opacity: 0;
      transition: transform 450ms cubic-bezier(0.33, 0.01, 0.28, 1), opacity 700ms cubic-bezier(0.33, 0.01, 0.49, 1.02);
    }

    $base-transition-delay: 500ms;

    body.is-loaded & > li {
      opacity: 1;
      transform: translateX(0px);
      transition-delay: $base-transition-delay;

      // Transitions + delays get longer with each element
      &:nth-child(2) { transition-delay: ($base-transition-delay + 120ms);  transition-duration: 500ms, 750ms; }
      &:nth-child(3) { transition-delay: ($base-transition-delay + 240ms);  transition-duration: 550ms, 775ms; }
      &:nth-child(4) { transition-delay: ($base-transition-delay + 400ms);  transition-duration: 600ms, 800ms; }
      &:nth-child(5) { transition-delay: ($base-transition-delay + 600ms);  transition-duration: 650ms, 825ms; }
      &:nth-child(6) { transition-delay: ($base-transition-delay + 850ms);  transition-duration: 700ms, 850ms; }    
      &:nth-child(7) { transition-delay: ($base-transition-delay + 1150ms); transition-duration: 750ms, 875ms; }    
      &:nth-child(8) { transition-delay: ($base-transition-delay + 1400ms); transition-duration: 800ms, 900ms; }       
    }

    > li > a {
      display: block;
      padding-bottom: 5px;
      transition: opacity $transition-duration-quick ease-in; // @TODO - move this stuff to vars?  It's shared between here and option values

      &.is-active {
        font-weight: bold;
      }

      &.is-not-hovered {
        opacity: 0.2;
      }
    }
  }

  // Submenus
  ul.main-submenu {
    position: absolute;
    top: 2px;
    left: 100%;
    width: 200px;
    padding-left: 20px;
    font-size: $font-size-xsmall;
    pointer-events: none;

    li {
      opacity: 0;
      transform: translateX(-6px);
      transition: transform 300ms cubic-bezier(0.33, 0.01, 0.28, 1), opacity 350ms cubic-bezier(0.33, 0.01, 0.49, 1.02);
    }

    &.is-active {
      pointer-events: auto;

      li {
        opacity: 1;
        transform: translateX(0px);

        $base-transition-delay: 0ms;
        transition-delay: $base-transition-delay;

        // Transitions + delays get longer with each element
        &:nth-child(2) { transition-delay: ($base-transition-delay + 60ms);  transition-duration: 300ms, 650ms; }
        &:nth-child(3) { transition-delay: ($base-transition-delay + 120ms); transition-duration: 350ms, 675ms; }
        &:nth-child(4) { transition-delay: ($base-transition-delay + 220ms); transition-duration: 500ms, 700ms; }
        &:nth-child(5) { transition-delay: ($base-transition-delay + 340ms); transition-duration: 550ms, 725ms; }
        &:nth-child(6) { transition-delay: ($base-transition-delay + 500ms); transition-duration: 600ms, 750ms; }             
      }
    }
  }
}

// Fixed nav at the bottom right corner of the screen
.intermediate-nav {
  position: fixed;
  bottom: $grid-gutter-width/2 - 4px;
  right: $grid-gutter-width/2;
  font-size: $font-size-xsmall;

  // Hide on tiny screens
  @media (max-width: $screen-xs-max) {
    display: none;
  }

  // Match settings with title.scss + footer.scss
  .js & {
    opacity: 0;
  }

  body.is-loaded & {
    opacity: 1;
    transition: opacity 2500ms cubic-bezier(0.33, 0.01, 0.49, 1.02);
  }

  a {
    padding-top: 12px;
    padding-bottom: 4px;
  }
}

a.intermediate-nav__next-product-link {
  display: inline-block;
  padding-right: 0;
  transition: padding-right 300ms ease-in;

  &:hover {
    padding-right: 65px;
    transition: padding-right 120ms ease-out; // Duplicate to override a:hover styles
  }
}

.intermediate-nav__next-product-image {
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  @include translateY(-6px);
  opacity: 0;
  transition: opacity 500ms ease;

  .intermediate-nav__next-product-link:hover & {
    opacity: 1;
    transition-duration: $transition-duration-quick;
    transition-delay: 80ms;
  }
}