// --------------------------------------------------------
// Product Detail
// --------------------------------------------------------

$product-essential-width-small: 310px;
$product-essential-width:       520px;
$product-elements-gutter-small: 40px;
$product-elements-gutter:       100px;
$product-image-fade-transition: opacity 1200ms cubic-bezier(0.63, 0.16, 0.17, 1.02) 200ms;
$product-image-fade-transition-fast: opacity 500ms cubic-bezier(0.63, 0.16, 0.17, 1.02);

@mixin pdf-scrollable {
  @include display-flex;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  margin: 0;

  @media (min-width: $screen-xs-min) {
    max-width: 100%;
    margin-left: $menu-clearance-min;
  }

  @media (min-width: $screen-sm-min) {
    margin-right: 0;
    width: calc(100% - #{ $product-essential-width-small + $grid-gutter-width/2 + $menu-clearance-min });   
  }

  @media (min-width: $screen-lg-min) {
    width: calc(100% - #{ $product-essential-width + $grid-gutter-width + $menu-clearance-max });
    margin-left: $menu-clearance-max;
  }
}


// @TODO - Should these go in here or in layout.scss?
body.template-product {
  
  .wrap {
    padding-right: 0;
    padding-left: 0;
    @include justify-content(flex-start);
  }

  .layout-content-wrapper {
    margin-top: $header-height-mobile;

    @media (min-width: $screen-xs-min) {
      margin-top: 0;
      margin-bottom: 0;
    }

    // @media (max-width: $screen-sm-max) {
    //   margin-bottom: 250px;
    // }
  }
}

.product-detail-form {
  padding-bottom: $spacer;

  @media (min-width: $screen-sm-min) {
    padding-bottom: 0;
  }

  // Make these easier to read / use
  select {
    text-transform: none;
  }
}

// Responsive Form Visibility
// --------------------------------------------------------

.sticky-form {
  position: fixed;
  z-index: $z-index-sticky-form;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color-white;
  padding: 15px;
  padding-top: 0;
  border-top: 1px solid $color-black;
  text-align: center;

  @media (min-width: $screen-xs-min) {
    left: $menu-clearance-min;
    border-left: 1px solid $color-black;
  }

  @media (min-width: $screen-sm-min) {
    display: none;
  }

  opacity: 0;
  pointer-events: none;
  @include translateY(15px);
  transition: transform 500ms cubic-bezier(0.17, 0.08, 0.16, 0.95), opacity 500ms cubic-bezier(0.17, 0.08, 0.16, 0.95);

  &.is-ready {
    opacity: 1;
    pointer-events: auto;
    @include translateY(0px);
    transition-duration: 600ms;
  }

  button[type="submit"] {
    width: 100%;
  }  
}

.desktop-form {
  display: none;

  @media (min-width: $screen-sm-min) {
    display: block;
  }
}

// Essential
// --------------------------------------------------------

.product-essential {

  @media (min-width: $screen-sm-min) {
    width: $product-essential-width-small;
    position: fixed;
    top: 50%;
    right: $grid-gutter-width/2;
    left: auto;
    bottom: auto;
    transform: translateY(-50%);
    // Vertical padding ensures that the form never touches the top or bottom of the screen
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: $product-elements-gutter-small;
    text-align: left;
    background-color: transparent;
    border-top: none;

    button[type="submit"] {
      width: 100%;
      min-width: 0;
    }
  }

  @media (min-width: $screen-lg-min) {
    width: $product-essential-width;
    padding-left: $product-elements-gutter;
    padding-right: $product-elements-gutter/2;
  }
}

.pdf-spaced-el {
  & + & {
    margin-top: $spacer * 0.75;
  }
}

.pdf-title {
  @include h5;
  margin: 0;
}

.pdf-subtitle {
  @include h6;
  font-size: $font-size-small;
  margin: $spacer/2 0 $spacer*1.25;
}

.pdf-price {
  font-size: $font-size-small
}

.pdf-description {
  width: 100%;
  font-size: $font-size-xsmall;

  @media (min-width: $screen-xs-min) {
    max-width: 400px;
    margin: 0 auto;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

// Sticky Stuff

.sticky-row {
  @include display-flex;
  @include align-items(center);
  // margin: 0 -15px;
  // padding: 0 15px;
  font-size: $font-size-xsmall;

  // This is the row with product title + price
  &:first-child {
    font-size: $font-size-base;
  }

  & + & {
    border-top: 1px solid $color-off-white;
  }

  &.sticky-row--add-to-cart {
    padding-top: 14px;
    // border-top: none;
  }  
}


.sticky-row__entry {
  padding: 8px 11px;
  @include flex(1);
  min-width: 0; // needed for text truncation to work
  text-align: left;

  &:first-child {
    padding-left: 0;
  }
  &:last-child {    
    padding-right: 0;
  }

  .sticky-row--options & {
    border-left: 1px solid $color-off-white;

    &:first-child {
      border-left: none;
    }    
  }
}

// On tiny screens, stack the options
@media (max-width: $screen-xs-min - 1px) {
  .sticky-row--options {
    @include flex-direction(column);

    .sticky-row__entry {
      width: 100%;
      border-left: none;
      border-right: none;
      padding-left: 0;
      padding-right: 0;

      & + .sticky-row__entry {
        border-top: 1px solid $color-off-white;
      }
    }
  }
}

.sticky-select-wrap {
  position: relative;

  select {
    @include stretch-within;
    width: 100%; // needed cause of flex?
    z-index: 1;
    opacity: 0;
    font-size: 1rem;
  }
}

.sticky-select-placeholder {
  padding-right: 13px;
  @include text-overflow;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 10px;
    background: {
      image: url({{ 'caret-down.png' | asset_url }});
      size: contain;
      repeat: no-repeat;
      position: center;
    }
  }

  &.sticky-select-placeholder--no-select {
    padding-right: 0;

    &:after {
      display: none;
    }
  }
}


.fixed-description {
  display: none;

  @media (min-width: $screen-lg-min) {
    display: block;
  }
}

// Secondary description at the bottom of the scroll container
.secondary-description {
  @include pdf-scrollable;
  margin-top: 100px;
  padding: 0 $grid-gutter-width/2;
  text-align: center;

  @media (min-width: $screen-sm-min) {
    margin-bottom: 75px; // Above this screen size we need to make sure we have clearance for the subscribe form
    text-align: left
  }

  @media (min-width: $screen-lg-min) {
    display: none;
  }

  .pdf-description ul {
    display: block;
    padding-left: 1rem;
    margin-left: $grid-gutter-width/2;
    margin-right: $grid-gutter-width/2;
    text-align: left;

    @media (min-width: $screen-xs-min) {
      margin-left: 50px;
      margin-right: 50px;
    }
  }
}

.secondary-link {
  font-size: $font-size-xsmall;
  opacity: 1;

  &, &:focus {
    @include transition(opacity $transition-duration-fast $transition-timing-function-base);  
  }
  
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

// Gallery
// --------------------------------------------------------

.product-galleries-wrapper {
  html.js & {
    opacity: 0;

    &.is-ready {
      opacity: 1;
      @include transition($product-image-fade-transition);
    }
  }
}

// Scroll Gallery
.product-gallery {
  @include pdf-scrollable;

  @media (min-width: $screen-sm-min) {
    min-height: calc(100vh - 200px);
  }

  html.js & {
    opacity: 0;
    @include transition(opacity 250ms cubic-bezier(0.65, 0.27, 0.79, 0.76));

    &.is-active {
      opacity: 1;
      @include transition(opacity 1200ms cubic-bezier(0.23, 0.31, 0.3, 0.96));
    }
  }

  &.is-zoomed {
    width: auto;
    margin: 0;
  }
}

.product-gallery__list {
  @include list-unstyled;
  margin: 0 auto;
  // max-width: 400px;

  @media (min-width: $screen-sm-min) {
    margin: 0;
    max-width: none;
  }
}

.product-gallery__item {
  position: relative;
  margin-bottom: 0;
  @include display-flex;
  @include align-items(center);
  min-height: 70vh;

  @media (min-width: $screen-sm-min) {
    min-height: 100vh;  
  }

  @media (min-width: $screen-lg-min) and (min-height: 750px) {
    height: 100vh;

    .product-gallery.is-zoomed & {
      height: auto;   
    }    
  }

  &:last-child:not(:only-child) {
    min-height: auto;
    height: auto;
  }

  // Since space is tight on tiny screens, make the first one auto height so it doesn't get pushed down for any vertical centering reasons
  @media (max-width: $screen-xs-max) {
    &:first-child {
      min-height: auto;
    }
  }

  & + & {
    margin-top: $grid-gutter-width/2;
  }
}

.product-gallery__image {
  @include align-self(center);
  display: block;
  margin: 0 auto;
  width: 100%;
  object-fit: contain;


  @media (min-width: $screen-md-min) {
    max-height: 100%;
  }

  @media (min-width: $screen-lg-min) {
    max-width: 900px;

    .product-gallery.is-zoomed & {
      max-width: 90%;
    }     
  }

  @media (min-width: $screen-xl-min) {
   .product-gallery.is-zoomed & {
      max-width: 1200px;
    } 
  }
  
  // Lazy loaded
  &[data-src] {
    opacity: 0;
  }

  &.is-loaded {
    opacity: 1;
    @include transition($product-image-fade-transition-fast);
    // @include transition(opacity $transition-duration-slow $transition-timing-function-in);
  }

}
