<div class="layout-content-wrapper">
  <div class="container">

    {% comment %}{% include 'page-header', title: page.title %}{% endcomment %}

    <div class="rte">
      {{ page.content }}
    </div>

  </div>
</div>
