{%- comment %}

  Product Detail Form Gallery
  ------------------------------------------------------------------------------

  {% include 'product-detail-form-gallery',
              product: { product } - required
  %}  

  Requires:
  - product.liquid
  - product-detail.scss
  - product.js
  - slate/slideshow.js

{% endcomment -%}

{% assign photo_main_dimension = '2000x2000' %}

<div class="product-gallery" data-gallery>
  <ul class="product-gallery__list">
    {% for image in product.images %}
      <li class="product-gallery__item" data-image="{{ image.id }}" data-gallery-item>   
        <img {% if forloop.index0 == 0 %}src={% else %}data-src={% endif%}"{{ image | img_url: photo_main_dimension }}" alt="{{ image.alt | escape }}" class="product-gallery__image" data-gallery-image>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="blowup" data-blowup>
  <div class="blowup__close">{% include 'icon-close' %}</div>
  <div class="blowup__scroll" data-blowup-scroll>
    <img class="blowup__image" data-blowup-image />
  </div>
</div>
