{% capture title_text %}
  {% if template.name == 'product' %}
    {% comment %}{% endcomment %}
  {% elsif template.name == 'collection' or template.name == 'list-collections' %}
    Shop
  {% elsif template.name == 'page' %}
    {{ page.title }}
  {% endif %}
{% endcapture %}

{% comment %}
  Next, look through the main menu and check if it's a submenu item.  If it is, output the parent menu item name.
{% endcomment %}
{% for link in linklists[settings.main_menu].links %}
  {% if link.active or link.child_active %}
    {% assign title_text = link.title %}
    {% break %}
  {% endif %}
{% endfor %}

<h1 id="title">
  {{ title_text | strip }}
</h1>