/*============================================================================
  Built with Slate
    - You cannot use native CSS/Sass @imports in this file without a build script
    - Do not adjust the order of stylesheets in the `global` directory!
==============================================================================*/

/*================ GLOBAL ================*/
@import url('global/variables.scss.liquid');
@import url('global/mixins.scss');
@import url('global/reboot.scss');
@import url('global/fonts.scss.liquid');
@import url('global/typography.scss');
@import url('global/helper-classes.scss');
@import url('global/grid.scss');
@import url('global/layout.scss');
@import url('global/flexbox.scss');
@import url('global/component-animations.scss');

/*================ COMPONENTS ================*/
// Components are small elements that may be re-used in multiple modules
@import url('components/icons.scss');
@import url('components/buttons.scss');
@import url('components/modals.scss');
@import url('components/page.scss');
@import url('components/forms.scss');
@import url('components/rte.scss');
@import url('components/tables.scss');
@import url('components/alerts.scss');
@import url('components/content.scss');
@import url('components/cards.scss');
@import url('components/minimal-input.scss');
@import url('components/toast.scss');
@import url('components/drawer.scss');
@import url('components/blowup.scss');
@import url('components/options.scss');
@import url('components/subscribe-form.scss');

/*================ MODULES ================*/
// Modules are larger pieces of functionality that consume components
// It is common for there to only be one instance of each on a page
@import url('modules/header.scss');
@import url('modules/footer.scss');
@import url('modules/ajax-cart.scss');
@import url('modules/product-detail.scss');
@import url('modules/mobile-menu.scss');
@import url('modules/nav.scss');
@import url('modules/title.scss');

/*================ TEMPLATES ================*/
// Styles *specific* to a shopify template
// Only use if there is no less specific / more logical place to put styles
// Try to use the body template class as a CSS hook
@import url('templates/cart.scss');
@import url('templates/collection.scss');
@import url('templates/page.scss');
@import url('templates/page-subscribe.scss');
@import url('templates/stockists.scss');
@import url('templates/password.scss');
@import url('templates/challenge.scss');

// Necessary bottom placement for specificity w/o `!important`
@import url('global/utilities.scss');
@import url('global/responsive-utilities.scss');

@keyframes loader {
  0% {
    opacity: 1;
    @include scale(1);
  }
  33% {
    opacity: 0.9;
    @include scale(0.91);
  }
  100% {
    opacity: 1;
    @include scale(1);
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-white;
  opacity: 0;
  z-index: $z-index-loader;
  pointer-events: none;
  transition: opacity 600ms cubic-bezier(0.54, 0.09, 0.29, 0.99);

  &.is-visible {
    pointer-events: auto;
    opacity: 1;
  }

  .loader__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 45px;
    width: 45px;
    @include translate(-50%, -50%);

    &:before {
      content: '';
      @include stretch-within;
      background: {
        image: url({{ 'circumflex.png' | asset_url }});
        size: contain;
        repeat: no-repeat;
        position: center;
      }

      @include animation(loader 1.9s infinite);
    }
  }
}

.index-collection-sold-out-message {
  @include display-flex;
  @include align-items(center);
  @include justify-content(center);
  max-width: 580px;
  margin: -#{$layout-margin-top-mobile} auto 0;
  min-height: 60vh;
  text-align: center;
  @extend .h4;

  @media (min-width: $screen-md-min) {
    margin-top: -#{$layout-margin-top};
    font-size: $font-size-h3;
  }
}

.js .view-container {
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.33, 0.01, 0.49, 1.02);
}

.js body.is-loaded .view-container {
  opacity: 1;
  transition-delay: 0.5s;
}

.js body.template-password.is-loaded .view-container {
  transition-delay: 1.2s;
}

// DEV: Don't display Shopify's admin preview bar
.development-mode {
  /* stylelint-disable-next-line selector-max-id */
  #preview-bar-iframe,
  .shopify-preview-bar {
    display: none;
  }
}
