// -------------------------
// Page template
// -------------------------

.template-page {
  .layout-content-wrapper .rte {
    max-width: 40rem;
    margin: 0 auto;

    // h1, h2, h3, h4, h5, h6 {
    //   @media (min-width: $screen-sm-min) {
    //     text-align: center;
    //   }
    // }
  }
}

.page-form-wrapper {
  max-width: 550px;
  margin: 0 auto;
}