// -------------------------
// Password page
// -------------------------

.template-password {
  .header {
    left: 0;
    right: 0;

    .header-logo {
      position: relative;
      left: 50%;
      @include translateX(-50%);
    }
  }

  &.is-loaded .password-subscribe {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 2s; // Delay it longer than it takes the rest of the page to fade in
  }
}

.password-content {
  position: relative;
  min-height: 100vh;
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(center);
  padding: 70px 0;

  &.password-content--has-subscribe {
    padding-bottom: 105px;
  }
}

.password-content__core {
  @include flex(1);
  @include display-flex;
  @include align-items(center);
  @include flex-direction(column);
  @include justify-content(center);
}

.password-content__image {
  max-width: 90%;
  max-height: 600px;
  height: calc(100vh - 400px); // @TODO - Finish this, doesn't really work on small screens :-/

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.password-content__text {
  font-size: $font-size-large;

  .password-content__image + & {
    font-size: $font-size-small;
    margin-top: 10px;
  }
}

.password-subscribe {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: $grid-gutter-width/2;
  padding-top: 0;
  text-align: center;

  opacity: 0;
  transform: translateY(10px);
  transition: transform 0.7s cubic-bezier(0, 0.33, 0.13, 1), opacity 1s ease-out;
  
  .subscribe-form {
    display: block;
    margin: 0 auto;
    max-width: 400px;
  }

  .form-helper-text {
    opacity: 1;
    margin-bottom: $spacer/2;
  }

  .form-message {
    @include justify-content(center);
  }
}

.password-login {
  width: 800px;
  max-width: 90%;
  margin: 0px auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 100px;
  background: white;
  border: 1px solid;
}