// -------------------------
// Drawer - Base
// -------------------------

body.drawer-open {
  overflow: hidden;
}

.drawer {
  position: fixed;
  z-index: $z-index-drawer;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  pointer-events: none;
  // @include transition(all 450ms cubic-bezier(0.35, 0.02, 0.11, 1.02));

  &:before {
    content: '';
    @include stretch-within;
    z-index: -1;
    right: -100%;
    bottom: -100%;
    background: radial-gradient(ellipse at top left, rgba(255,255,255,1) 50%,rgba(255,255,255,0.07) 86%);
    opacity: 0;
    transform: translate(-100%, -100%);
    transition: opacity 700ms cubic-bezier(0.19, 0.04, 0.43, 0.96) 150ms,transform 800ms cubic-bezier(0.84, 0.01, 0.65, 0.99);
    transform-origin: top left;
  }

  @media (min-width: $screen-sm-min) {
    max-width: 380px;
  }

  @media (min-width: $screen-lg-min) {
    max-width: 450px;
  }  

  // For a drawer that slides out from the left side
  // &.drawer--left {
  //   &:before {
  //     background: radial-gradient(ellipse at top right, rgba(255,255,255,1) 40%,rgba(255,255,255,0.07) 86%);
  //     right: 0;
  //     left: -100%;
  //     transform-origin: top right;
  //   }
  // }

  &.is-visible {
    pointer-events: auto;
    // @include transition(all 500ms cubic-bezier(0.36, 0.35, 0.12, 1.01));

    &:before {
      transform: translate(0, 0);
      opacity: 1;
      transition: opacity 500ms cubic-bezier(0.2, 0, 0, 1), transform 700ms cubic-bezier(0.2, 0, 0, 1) 0ms;
    }
  }

}

.drawer__inner,
.drawer__close {
  opacity: 0;
  @include translateY(-5px);
  @include transition-property(opacity, transform);
  @include transition-duration(700ms);
  @include transition-timing-function(cubic-bezier(0.2, 0, 0, 1));

  .drawer.is-visible & {
    opacity: 1;
    @include translateY(0px);
    transition-delay: 80ms, 80ms;
  }
}

.drawer__inner {
  @include stretch-within;
  padding: $grid-gutter-width/2;
  overflow: hidden;

  @media (min-width: $screen-sm-min) {
    border-left: 1px solid $color-off-white;
  }
}

.drawer__close {
  position: absolute;
  z-index: 1;
  top: 22px;
  right: $grid-gutter-width/2;

  @media (min-width: $screen-xs-min) {
    top: 25px;
  }
}

.drawer__body {
  @include stretch-within;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.drawer__body-contents {
  min-height: 100%;
  @include display-flex;
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);
  padding: 70px $grid-gutter-width/2;
}

.drawer-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-drawer-backdrop;
  background-color: $drawer-backdrop-color;
  opacity: 0;
  cursor: none; // see below
  pointer-events: none;
  @include transition(all 450ms cubic-bezier(0.35, 0.02, 0.11, 1.02));

  @media (min-width: $screen-sm-min) {
    &.is-visible {
      opacity: $drawer-backdrop-opacity;
      pointer-events: auto;
      @include transition(all 500ms cubic-bezier(0.36, 0.35, 0.12, 1.01));
    }
  }
}

.drawer-backdrop-cursor {
  position: absolute;
  top: 0;
  left: 0;
  height: 48px;
  width: 48px;
  @include transition-transform(20ms ease);

  &:before {
    content: '';
    @include stretch-within;
    background: {
      image: url({{ 'cursor-close.png' | asset_url }});
      size: cover;
    }
    opacity: 0;    
    @include translate(-24px, -24px);
    @include transition(opacity 200ms ease-in);
  }

  &.is-visible:before {
    opacity: 1;
  }
}