// -------------------------
// Product Card
// -------------------------

.product-card {
  height: 100%;
  max-width: 500px;
  margin: 0 auto;

  &.product-card--sold-out {}
}

.product-card__contents {
  display: block;
}

.product-card__gallery {
  position: relative;
  width: 100%;
  margin-bottom: 11px;
  overflow: hidden;
}

.product-card__gallery-image {
  width: 100%;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 100%;
    // min-height: 400px;
    max-height: 100vh;

    @media (min-width: $screen-xs-min) {
      min-height: 0;
    }
  }
}

.product-card__gallery-placeholder {
  @include stretch-within;
  background: $body-bg;
  opacity: 1;

  // Hide the placeholder once the loading is complete
  .product-card__gallery-image.is-loaded & {
    opacity: 0;
    pointer-events: none;
    @include transition(opacity $transition-duration-quick $transition-timing-function-out);
  }
}

.product-card__info {
  font-size: $font-size-small;
  text-align: $product-card-text-align;
  padding: 0 $grid-gutter-width/2;

  p {
    margin-bottom: 0;

    & + p {
      margin-top: 2px;
    }
  }
}

html:not(.touchevents) {
  .product-card__info {
    opacity: 0;
    @include transition(opacity $transition-duration-fast $transition-timing-function-base);
  }

  .product-card:hover .product-card__info {
    opacity: 1;
  }
}

.product-card__info-title,
.product-card__info-price {

}

.product-card__info-title {
  font-weight: bold;

  .product-card--sold-out & {
    text-decoration: line-through;
  }
}

.product-card__info-price {
  
  // Grey out crossed out price
  s {
    color: $color-grey;
  }
}
