// -------------------------
// Product Card
// -------------------------

.product-card {
  height: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.product-card__gallery {
  position: relative;
  width: 100%;
  margin-bottom: 11px;
  overflow: hidden;
}

.product-card__gallery-image {

  &,
  img {
    width: 100%;
  }
}

.product-card__gallery-placeholder {
  @include stretch-within;
  background: $body-bg;
  opacity: 1;

  // Hide the placeholder once the loading is complete
  .is-loaded & {
    opacity: 0;
    pointer-events: none;
    @include transition(opacity $transition-duration-base $transition-timing-function-out);
  }
}

.product-card__info {
  font-size: $font-size-small;
  text-align: $product-card-text-align;

  p {
    margin-bottom: 0;

    & + p {
      margin-top: 2px;
    }
  }
}

html:not(.touchevents) {
  .product-card__info {
    opacity: 0;
    @include transition(opacity $transition-duration-fast $transition-timing-function-base);
  }

  .product-card:hover .product-card__info {
    opacity: 1;
  }
}

.product-card__info-title,
.product-card__info-price {

}

.product-card__info-title {
  font-weight: bold;
}

.product-card__info-price {
  
  // Grey out crossed out price
  s {
    color: $color-grey;
  }
}
