// -------------------------
// Site Notice Modal Styling
// -------------------------

.site-notice-modal {
  // RTE is mostly used for articles so it has a large space between paragraphs and images
  .rte {
    text-align: center;
    text-transform: none;
    p + p,
    p + img,
    img + p {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }    
  }
}