// -------------------------
// Site Notice Modal Styling
// -------------------------

.site-notice-modal {
  .modal-body {
    text-transform: none;
    text-align: center;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}