{%- comment %}

  Collection Section
  ------------------------------------------------------------------------------

{% endcomment -%}


{% paginate collection.products by 100 %}

<div class="layout-content-wrapper">
  <section data-section-id="{{ section.id }}" data-section-type="collection">
    <div class="container">

      {% comment %}
      {% include 'page-header',
                title: collection.title,
                subtitle: collection.description
      %}
      {% endcomment %}

      {% if collection.products.size > 0 %}    
        <div class="content-grid">
          {% for product in collection.products %}
            <div class="content-grid__item">
              {% include 'product-card', product: product, lazy_load: true %}
            </div>
          {% endfor %}
        </div>

      {% else %}
        <p>{{ 'collections.general.no_matches' | t }}</p>

      {% endif %}

      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}
    </div>

  </section>
</div>

{% endpaginate %}

{% schema %}
  {
    "name": "Collection",
    "settings": [
    ]
  }
{% endschema %}
