{%- comment %}

  Collection Section
  ------------------------------------------------------------------------------

  The tags using for filtering are the ones that starts with:
    - `color:`
    - `size:`

{% endcomment -%}

{% assign filter_types = 'color,size' | split: "," %}

{% paginate collection.products by 6 %}

<div class="layout-content-wrapper">
  <section data-section-id="{{ section.id }}" data-section-type="collection">
    <div class="container">

      {% include 'page-header',
                title: collection.title,
                subtitle: collection.description
      %}

      {% if collection.products.size > 0 %}    
        <div class="content-grid">
          {% for product in collection.products %}

            {% comment %} Lazy load all product images below the fold.  Adjust the limit as needed {% endcomment %}
            {% assign lazy_load = false %}
            {% if forloop.index > 10 %}
              {% assign lazy_load = true %}
            {% endif %}

            <div class="content-grid__item">
              {% include 'product-card', product: product, lazy_load: lazy_load %}
            </div>
          {% endfor %}
        </div>

      {% else %}
        <p>{{ 'collections.general.no_matches' | t }}</p>

      {% endif %}

      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}
    </div>

  </section>
</div>

{% endpaginate %}

{% schema %}
  {
    "name": "Collection",
    "settings": [
    ]
  }
{% endschema %}
