<footer class="footer" data-section-id="{{ section.id }}" data-section-type="footer">
  {% unless settings.mailchimp_form_url == blank %}
    <form action="{{ settings.mailchimp_form_url }}" method="post">
      <div class="minimal-input-box">
        <input type="email"name="EMAIL" class="minimal-input-box__input" value="" placeholder="Subscribe" required="required"/>
        <button type="submit" class="minimal-input-box__submit">
          {% include 'icon-arrow-right' %}
          <span class="icon-fallback-text">Submit</span>
        </button>
      </div>
    </form>
  {% endunless %}
  {% if section.settings.menu and linklists[section.settings.menu].links.size > 0 %}
    <div class="u-fs-xsmall" style="margin-top: 12px;">
      {% for link in linklists[section.settings.menu].links %}
        <a href="{{ link.url }}">{{ link.title }}</a>
        {% unless forloop.last %} &middot; {% endunless %}
      {% endfor %}
    </div>
  {% endif %}
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      }
    ]
  }
{% endschema %}
