<div data-section-id="{{ section.id }}" data-section-type="header">
  <header class="header" role="banner">
    
    {% include 'header-logo' %}

    {% if settings.main_menu != blank %}
      <a href="#" title="Toggle menu" class="mobile-menu-toggle" data-mobile-menu-toggle>
        <span class="visually-hidden">Toggle mobile menu</span>
        <div class="mobile-menu-icon">
          <div class="mobile-menu-icon__inner"></div>
        </div>
      </a>
    {% endif %}

    {%- capture cart_item_count -%}
      {% include 'cart-item-count' %}
    {%- endcapture -%}

    {% assign cart_item_count = cart_item_count | plus: 0 %}

    <a href="/cart" class="header-cart" data-ajax-cart-trigger>
      <div class="header-cart__badge{% if cart_item_count > 0 %} has-items{% endif %}" data-cart-badge>
        {{ cart_item_count }} {{ cart_item_count | pluralize: 'Item', 'Items' }}
      </div>
    </a>
  </header>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": []
  }
{% endschema %}
